* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

section {
  border-radius: 13px;
  background-color: #f2f2f2;
  margin: 20px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

label {
  font-weight: 600;
}

input[type="text"],
input[type="date"] {
  height: 44px;
  border: 1px solid #12121250;
  border-radius: 8px;
  padding: 10px 5px;
}

input[type="submit"],
button {
  background-color: #035373;
  border: 0;
  height: 44px;
  border-radius: 8px;
  color: #f2f2f2;
  margin-top: 10px;
  font-weight: 600;
}

input[type="submit"]:hover,
button:hover {
  box-shadow: #00000030 0px 2px 2px 1px;
  cursor: pointer;
}

div.row {
  display: flex;
  gap: 8px;
}

section#game-start {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.accentX {
  color: #d32f2f;
}

.accentO {
  color: #0578a6;
}

div#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div.square {
  width: 150px;
  height: 150px;
  background-color: #f2f2f2;
  border: 1px solid #00000030;
}

div.square.O {
  background-color: #0578a6;
  background-image: url('./src/imgs/o.png');
  background-size: contain;
}

div.square.X {
  background-color: #d32f2f;
  background-image: url('./src/imgs/x.png');
  background-size: contain;
}

div.square[data-region="0.0"] {
  border-radius: 13px 0px 0px 0px;
}

div.square[data-region="0.2"] {
  border-radius: 0px 13px 0px 0px;
}

div.square[data-region="2.0"] {
  border-radius: 0px 0px 0px 13px;
}

div.square[data-region="2.2"] {
  border-radius: 0px 0px 13px 0px;
}

div.square.winZone {
  border: 3px solid #f30
}