* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

section {
  border-radius: 13px;
  background-color: #f2f2f2;
  margin: 20px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  font-size: 32px;
}

label {
  font-weight: 600;
}

input[type="text"],
input[type="date"] {
  height: 44px;
  border: 1px solid #12121250;
  border-radius: 8px;
  padding: 10px 5px;
}

input[type="submit"] {
  background-color: #035373;
  border: 0;
  height: 44px;
  border-radius: 8px;
  color: #f2f2f2;
  margin-top: 10px;
}

input[type="submit"]:hover {
  box-shadow: #00000030 0px 2px 2px 1px;
  cursor: pointer;
}
